<div class='pageDiv connect'>

	<%= image_tag('lisaDrawing.png', class: 'lisaDrawing') %>
	
	<p class='emailInfo'>e-mail me:
	<%= mail_to "lisa@lisasound.com" do %>
  		<span class='email'>lisa@lisasound.com</span>
	<% end %></p>


	<div class='socialMedia'>
		<a href="https://www.imdb.com/name/nm5559080/?ref_=nv_sr_1"><%= image_tag '/images/imdb.png', class: 'icon' %></a>
		<a href="https://www.linkedin.com/in/lisa-devon-175b6676/"><%= image_tag 'linkedin.png', class: 'icon' %></a>
		<a href="https://www.facebook.com/lisa.devon.7"><%= image_tag 'facebook.png', class: 'icon' %></a>
	</div>

</div>