<div class='pageDiv designDiv'>

<!-- visible project blocks -->
	<div id='portfolio'> 
		<div class='project designVero'>
			<div class='designProject'>
				<span data-modal='design1Modal' class='projBtn'>vero_xsm</span>
			</div>
		</div>
		<div class='project designCisco'>
			<div class='designProject'>
				<span data-modal='design2Modal' class='projBtn'>cisco</span>
			</div>		
		</div>
		<div class='project designSquare'>
			<div class='designProject'>
				<span data-modal='design3Modal' class='projBtn'>square</span>
			</div>		
		</div>
		<div class='project designDodo'>
			<div class='designProject'>
				<span data-modal='design4Modal' class='projBtn'>dodo</span>
			</div>		
		</div>
		<div class='project designAudi'>
			<div class='designProject'>
				<span data-modal='design5Modal' class='projBtn'>audi italia</span>
			</div>		
		</div>
		<div class='project designQueensway'>
			<div class='designProject'>
				<span data-modal='design6Modal' class='projBtn'>the queensway</span>
			</div>
		</div>

	</div>	


<!-- project modals -->
	<div id='design1Modal' class='projModal'>
	 	<div class='projModalContent'>
	 		<span class='projClose'>&times;</span>
	    	<%= render partial: 'design_vero', layout: false %>
	  	</div>
	</div>
	
	<div id='design2Modal' class='projModal'>
	 	<div class='projModalContent'>
	 		<span class='projClose'>&times;</span>
	    	<%= render partial: 'design_cisco', layout: false %>
	  	</div>
	</div>

	<div id='design3Modal' class='projModal'>
	 	<div class='projModalContent'>
	 		<span class='projClose'>&times;</span>
	    	<%= render partial: 'design_square', layout: false %>
	  	</div>
	</div>

	<div id='design4Modal' class='projModal'>
	 	<div class='projModalContent'>
	 		<span class='projClose'>&times;</span>
	    	<%= render partial: 'design_dodo', layout: false %>
	  	</div>
	</div>	

	<div id='design5Modal' class='projModal'>
	 	<div class='projModalContent'>
	 		<span class='projClose'>&times;</span>
	    	<%= render partial: 'design_audi', layout: false %>
	  	</div>
	</div>
	
	<div id='design6Modal' class='projModal'>
	 	<div class='projModalContent'>
	 		<span class='projClose'>&times;</span>
	    	<%= render partial: 'design_queensway', layout: false %>
	  	</div>
	</div>

</div>