<!DOCTYPE html>
<html>
  <head>
    <title>Lisa Devon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">

   	<!-- fonts -->
   	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" />
   	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:300,400,600,700&amp;lang=en" />
   	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&amp;lang=en" />
   	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Dorsa:300,400,600,700&amp;lang=en" />
    
  </head>

  <body>

  	<div class='titleBanner'>
		<div class='titleName'>
			<%= image_tag('/images/bannerName.png', :class => 'titleBannerImg') %>
		</div>
		<div class='titleDescription'>
			sound design <span class='titleSpacer'>/</span> 
			mix <span class='titleSpacer'>/</span> 
			foley <span class='titleSpacer'>/</span> 
			edit <span class='titleSpacer'>/</span> 
			compose
		</div>
	</div>

  	<div class='left nav'>
		<p><%= link_to "about", about_path %></p>
		<p><%= link_to "post", post_path %></p>
		<p><%= link_to "film", film_path %></p>
		<p><%= link_to "music", music_path %></p>
		<p><%= link_to "resume", resume_path %></p>
		<p><%= link_to "connect", connect_path %></p>
	</div>

	<div class='right partialContent'>
	</div>

    <%= yield %>
  </body>
</html>
